{% extends 'base.html' %}

{% block content %}
    {% if required_field %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; top: 64px; left: 50%; transform: translateX(-50%); z-index: 999;">
            <strong>Busca inválida.</strong> Preencha ao menos um dos campos abaixo.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div id="content-container">
        <div id="search-form-container">
            <!--FORMS DE BUSCA-->
            <div id="accordion">
                <!--BUSCA POR CAMPO-->
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Busca por campos
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <form method="post" action='/search/field/' class="form-group">
                            <label for="title" class="col-form-label col-form-label-sm">Título</label>
                            <input type="text" name="title"
                                   placeholder="Título do livro"
                                   value="{{ request.form['title'] }}"
                                   class="form-control form-control-sm"></input>
                            {% if recommend['title'] %}
                              <small class="form-text text-muted">
                                Sugestões: {% for t in recommend['title'] %} {{ t }}, {% endfor %}...
                              </small>
                            {% endif %}
                            
                            <label for="publisher" class="col-form-label col-form-label-sm">Editora</label>
                            <input type="text" name="publisher"
                                   placeholder="Editora, selo ou marca do livro"
                                   value="{{ request.form['publisher'] }}"
                                   class="form-control form-control-sm"></input>
                            {% if recommend['publisher'] %}
                              <small class="form-text text-muted">
                                Sugestões: {% for t in recommend['publisher'] %} {{ t }}, {% endfor %}...
                              </small>
                            {% endif %}
                            
                            <label for="author" class="col-form-label col-form-label-sm">Autores</label>
                            <input type="text" name="author"
                                   placeholder="Autores do livro"
                                   value="{{ request.form['author'] }}"
                                   class="form-control form-control-sm"></input>
                            {% if recommend['author'] %}
                              <small class="form-text text-muted">
                                Sugestões: {% for t in recommend['author'] %} {{ t }}, {% endfor %}...
                              </small>
                            {% endif %}
                            
                            <label for="isbn" class="col-form-label col-form-label-sm">ISBN</label>
                            <input type="number" name="isbn"
                                   placeholder="ISBN do livro"
                                   value="{{ request.form['isbn'] }}"
                                   class="form-control form-control-sm"></input>
                            {% if recommend['isbn'] %}
                              <small class="form-text text-muted">
                                Sugestões: {% for t in recommend['isbn'] %} {{ t }}, {% endfor %}...
                              </small>
                            {% endif %}
                            
                            <label for="description" class="col-form-label col-form-label-sm">Descrição</label>
                            
                            <textarea name="description"
                                      placeholder="Descrição do livro"
                                      rows="2"
                                      class="form-control form-control-sm"
                                      value="{{ request.form['description'] }}"></textarea>
                            {% if recommend['description'] %}
                              <small class="form-text text-muted">
                                Sugestões: {% for t in recommend['description'] %} {{ t }}, {% endfor %}...
                              </small>
                            {% endif %}
                            
                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin: 16px 0;">Buscar</button>
                        </form>
                    </div>
                  </div>
                </div>

                <!--BUSCA NO TEXTO-->
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Busca por conteúdo
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <form method="post" action='/search/text/' class="form-group">
                            <label for="content" class="col-form-label col-form-label-sm">Conteúdo</label>
                            
                            <textarea name="content"
                                      placeholder="Pesquise por termos na página do livro."
                                      rows="2"
                                      class="form-control form-control-sm"
                                      value="{{ request.form['content'] }}"></textarea>
                            
                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin: 16px 0;">Buscar</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div id="search-results-container">
            <!--RESULTADOS DA BUSCA-->
            {% if current_query %}
              <div id="query-summary" class="alert alert-dark" role="alert">
                <code><span style="font-weight: bold;">consulta</span> = {{ current_query }}</code>
                <br>
                {{ total_results }} resultados
              </div>
            {% endif %}
            <div class="search-results-items">
              {% for result in field_results %}
                  <a href="{{ result['url'] }}" target="_blank">
                      <div class='result' id="result-{{ result['ranking'] }}">
                          <h5 class="card-title">{{ result['title'] }}</h5>
                          {% if not (result['title'] or result['publisher'] or result['authors'] or result['isbn'] or result['info']) %}
                            <div id="empty-result" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-wrap: wrap; gap: 16px;">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 17V15H13V17H11ZM11 7V13H13V7H11Z" fill="#EE7279"/>
                              </svg>
                              <p>Resultado com campos ausentes</p>
                            </div>
                          {% endif %}
                          <table class="table table-hover">
                            <tbody>
                              {% if result['title'] %}
                                <tr>
                                  <th scope="row">Título</th>
                                  <td>{{ result['title'] }}</td>
                                </tr>
                              {% endif %}
                              {% if result['publisher'] %}
                                <tr>
                                  <th scope="row">Editora</th>
                                  <td>{{ result['publisher'] }}</td>
                                </tr>
                              {% endif %}
                              {% if result['authors'] %}
                                <tr>
                                  <th scope="row">Autor</th>
                                  <td>
                                    {% for author in result['authors'] %}
                                      {{ author }},
                                    {% endfor %}
                                  </td>
                                </tr>
                              {% endif %}
                              {% if result['isbn'] %}
                                <tr>
                                  <th scope="row">ISBN</th>
                                  <td>{{ result['isbn'] }}</td>
                                </tr>
                              {% endif %}
                              {% if result['info'] %}
                                <tr>
                                  <th scope="row">Descrição</th>
                                  <td><p>{{ result['info'] }}</p></td>
                                </tr>
                              {% endif %}
                            </tbody>
                          </table>
                          <small class="form-text text-muted">
                            Extraído de: {{ result['domain'] }}
                          </small>
                      </div>
                  </a>
              {% endfor %}
  
              {% for result in text_results %}
                <a href="{{ result['url'] }}" target="_blank">
                    <div class='result' id="result-{{ result['ranking'] }}">
                        <h5 class="card-title">{{ result['title'] }}</h5>
                        {% if not (result['title'] or result['publisher'] or result['authors'] or result['isbn'] or result['description']) %}
                          <div id="empty-result" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-wrap: wrap; gap: 16px;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 17V15H13V17H11ZM11 7V13H13V7H11Z" fill="#EE7279"/>
                            </svg>
                            <p>Resultado com campos ausentes</p>
                          </div>
                        {% endif %}
                        <table class="table table-hover">
                          <tbody>
                            {% if result['title'] %}
                              <tr>
                                <th scope="row">Título</th>
                                <td>{{ result['title'] }}</td>
                              </tr>
                            {% endif %}
                            {% if result['publisher'] %}
                              <tr>
                                <th scope="row">Editora</th>
                                <td>{{ result['publisher'] }}</td>
                              </tr>
                            {% endif %}
                            {% if result['authors'] %}
                              <tr>
                                <th scope="row">Autor</th>
                                <td>
                                  {% for author in result['authors'] %}
                                    {{ author }},
                                  {% endfor %}
                                </td>
                              </tr>
                            {% endif %}
                            {% if result['isbn'] %}
                              <tr>
                                <th scope="row">ISBN</th>
                                <td>{{ result['isbn'] }}</td>
                              </tr>
                            {% endif %}
                            {% if result['info'] %}
                              <tr>
                                <th scope="row">Descrição</th>
                                <td><p>{{ result['info'] }}</p></td>
                              </tr>
                            {% endif %}
                          </tbody>
                        </table>
                        <small class="form-text text-muted">
                          Extraído de: {{ result['domain'] }}
                        </small>
                    </div>
                </a>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}