
#content-container {
    margin: 24px 0;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: calc(100vh - 48px - 56px);
}

.result {
    border-radius: 4px;
    padding: 16px;
    margin: 0 0 16px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

#search-form-container, #search-results-container {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results-items {
    overflow-y: auto;
    scroll-behavior: contain;
    padding: 8px;
}